<html>
    <p align="center">
        <strong>A Dream Journey</strong>
    </p>
    <p align="center">
        <img src="{{url_for('static', filename='elonmusk.jpg')}}" alt="centered image" />
    </p>        
        
    <p>
        We had a dream. To make a <strong>cloud</strong> project. Together with a
        bunch of <strong>talented people. </strong>We came together on this journey
        of<strong> 2</strong> weeks.
    </p>
    <p>
    This was the first time! Excitement was <strong>high. </strong>We    <strong>eagerly</strong> looked forward to the <strong>awesome</strong>
        project.
    </p>
    <p>
    People had joined in from<strong> Sydney </strong>and<strong>Melbourne. </strong>There were<strong> five </strong>of us    <strong>. </strong>Nobody<strong> </strong>knew how to start. But, deep
        within we were all <strong>Elon Musk- creator, entrepreneur. </strong>We
        believed we could find the way.<strong> </strong>We talked, scoured the
    internet for ideas, took inspiration from our hearts. Finally, we found the    <strong>idea</strong>.
    </p>
    <p>
    One that was close to our <strong>heart. </strong> We wanted to create a    <strong>fun</strong>, story<strong> </strong>writing project. It would be a
        story with blanks left for users to fill in. Thus, every user would make
    their unique story. The project would display text<strong>beautifully</strong> on the <strong>screen</strong>, and    <strong>data analytics</strong> would search for some customized images
        from the internet. What a <strong>beautiful</strong> customer experience it
    would be. A fun outing for children of all ages, <strong>5</strong> to    <strong>105</strong>. That was the dream.
    </p>
    <p>
    We planned to use <strong>python</strong>, <strong>css</strong> and    <strong>html</strong> to create the project.
    </p>
    <p>
        Running the project in an <strong>Agile</strong> way. It was all new, by
        the way.
    </p>
    <p>
        Each one set out to do their part. Progress was very <strong>slow</strong>.
    Time was running <strong>low</strong>. Deadlines to be    <strong>caught</strong>. So many pieces of the <strong>puzzle</strong> were
        unknown. We knew we could be lost. We kept trying every day. Little by
    Little. Slowly the project developed in parts. Then, came the<strong>flood</strong>! <strong>Animals</strong>, <strong>birds</strong>,    <strong>food</strong> or <strong>body parts</strong>- all could be seen on
        screen!
    </p>
    <p>
        We were <strong>finally</strong> all so happy. So <strong>excited</strong>.
        A dream journey was accomplished.
    </p>
    <img src="{{url_for('static', filename='melbourne.jpg')}}">
    <img src="{{url_for('static', filename='strawberry.jpg')}}">
    <img src="{{url_for('static', filename='sydney.jpg')}}">
</html>